<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST APP</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>新しいデータの追加</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">追加項目(NAME)</p>
        <form action="/create" method="post">
            <input type="text" name="itemName">
            <input type="submit" value="追加する">
        </form>
      </div>
      <a href="/index" class="cancel-button">もどる</a>
    </div>
  </body>
</html>